@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@1,400;1,500;1,600&display=swap');

body{
	font-family: 'Ibarra Real Nova', serif;
 	background-color: white; 
background:url("https://preview.redd.it/non7uayabx261.png?width=960&crop=smart&auto=webp&s=a7ce79a72b583720b214aa7661269185af9a1822") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 
h1{
	margin: 30px;
	font-family: 'Ibarra Real Nova', serif;
	font-size: 90px;
	text-align: center;
	color: white;
}


.row{

  margin : 40px;
}

#navbar{
  text-emphasis-color: white;
}